:host {
  position: relative;

  app-search-bar {
    position: fixed;
    top:0;

    z-index: 99;

    width: 100%;
  }

  .loader {
    position: fixed;
    z-index: 101;

    top: calc(68px - 4px);
    width: 100vw;

  }

  .recipe-list {
    padding-top: 68px;

    app-recipe-card {
      margin: .5rem;
    }
  }
}
